<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un étudiant</title>
    <link rel="stylesheet" href="/css/addStyle.css">
</head>
<body>
    <h1>Ajouter un nouvel étudiant</h1>
    <form action="/etudiants/add" method="post">
        <label for="nom">Nom de l'étudiant:</label>
    <input type="text" id="nom" name="nom" required>

    <label for="prenom">Prenom de l'etudiant:</label>
    <input type="text" id="prenom" name="prenom" required>


    <button type="submit">Ajouter l'étudiant</button>
    <a href="/etudiants" class="button cancel-button">Annuler</a>
    </form>
</body>
</html>
