<!-- views/addSession.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une session</title>
    <link rel="stylesheet" href="/css/addStyle.css">

</head>
<body>
    <h1>Ajouter une nouvelle session</h1>
    <form action="/sessions/add" method="post">
        <div>
            <label for="name">Nom de la session:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="year">Année:</label>
            <input type="number" id="year" name="year" required>
        </div>
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
