<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/homeStyle.css">
    <link rel="icon" href="la-toile.png" type="image/x-icon">


</head>
<body>
    <h1>Bienvenue sur l'API Gestion de Classe</h1>
    <p>Ceci est la page d'accueil </p>
    <ul>
        <li><a href="/sessions">Sessions</a></li>
        <li><a href="/cours">Cours</a></li>
        <li><a href="/etudiants">Étudiants</a></li>
    </ul>
</body>
</html>
