<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1>Bienvenue sur l'Accueil</h1>
    <p>Ceci est la page d'accueil de votre application.</p>
    <ul>
        <li><a href="/sessions">Sessions</a></li>
        <li><a href="/cours">Cours</a></li>
        <li><a href="/etudiants">Étudiants</a></li>
    </ul>
</body>
</html>
