<!-- views/listSessions.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des sessions</title>
    <link rel="stylesheet" href="/css/listStyle.css">
</head>
<body>
    <h1>Liste des sessions</h1>
    <div class="buttons-container">
        <a href="/" class="button">Accueil</a>
        <a href="/sessions/add" class="button">Ajouter une session</a>
    </div>
    
    <ul>
        <% sessions.forEach(function(session) { %>
            <li><%= session.nom %> - <%= session.annee %></li>
        <% }) %>
    </ul>
</body>
</html>
