<!-- views/listCours.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des cours</title>
    <link rel="stylesheet" href="/css/listStyle.css">
</head>
<body>
    <h1>Liste des cours</h1>
    <div class="buttons-container">
        <a href="/" class="button">Accueil</a>
        <a href="/cours/add" class="button">Ajouter un Cours</a>
    </div>    
    <ul>
        <% cours.forEach(function(course) { %>
            <li><%= course.title %>: <%= course.description %></li>
        <% }) %>
    </ul>
</body>
</html>
