body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Si vous voulez les sessions en colonne */
    align-items: center;
    width: 100%;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 60%; /* Ajustez cette valeur selon la largeur désirée des blocs */
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-size: 18px; /* Ajustez la taille du texte si nécessaire */
}

.buttons-container {
    margin-bottom: 20px; /* Espacement entre les boutons et le formulaire de recherche */
    text-align: center; /* Centre les boutons si nécessaire */
}

.button {
    background-color: #007bff; /* Couleur de fond bleue */
    color: white; /* Texte blanc */
    padding: 10px 15px; /* Espacement interne */
    text-decoration: none; /* Supprime le soulignement du lien */
    border-radius: 5px; /* Coins arrondis */
    margin-right: 10px; /* Espacement entre les boutons */
}

.button:hover {
    background-color: #0056b3; /* Couleur plus foncée au survol */
}
