body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 500px; /* Ajustez selon la largeur souhaitée */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px; /* Espacement supplémentaire en haut */
}

input[type="text"] {
    flex-grow: 1; /* Permet à l'input de prendre le maximum d'espace disponible */
    margin-right: 10px; /* Espacement entre l'input et le bouton */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px; /* Espacement supplémentaire en haut */
}

.button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
